<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Entrenets: {{title|safe}}</title>
    <meta name="generator" content="Eleventy" />
    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex" />

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/assets/vendor/slick/slick.css" />
    <link rel="stylesheet" href="/assets/vendor/slick/slick-theme.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />

    <!-- Stylesheets -->
    <link href="/assets/css/base.module.css" rel="stylesheet" />
    <link href="/assets/css/{{ stylesheet }}" rel="stylesheet" />
    <link href="/assets/css/shared.css" rel="stylesheet" />

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="/assets/images/logo/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/assets/images/logo/favicon.png"
      type="image/x-icon"
    />
  </head>

  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg site-navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{nav.navLogo}}" alt="nav-logo" class="logo" />
        </a>

        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#sitenavbar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="sitenavbar">
          <ul class="navbar-nav ml-auto main-nav">
            {% for navLink in nav.navLinks %}
            <li
              class="nav-item menu-item{% if navLink.sublinks %} has-submenu{% endif %}"
            >
              <a class="nav-link menu-link" href="{{navLink.url}}"
                >{{navLink.text | capitalize}}</a
              >
              {% if navLink.sublinks %}
              <ul class="submenu">
                {% for sublink in navLink.sublinks %}
                <li class="submenu-list-item">
                  <a href="{{ sublink.url}}" class="sublink"
                    >{{ sublink.text }}</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
            <li class="nav-item">
              <a
                class="nav-link btn btn-sm btn-sm-rounded btn-cta btn-cta-nav"
                href="{{nav.navBtnLink}}"
              >
                <span class="btn-area">
                  <span data-text="{{nav.navBtnText}}">
                    {{nav.navBtnText}}
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %} {% block content %} {{content | safe}} {% endblock %} {%
    block footer %}
    <section class="section prefooter-section">
      <div class="prefooter-content">
        <h2 class="prefooter-title">{{footer.prefooter.title}}</h2>
        <p class="prefooter-subtitle">{{footer.prefooter.subtitle}}</p>
        <a href="/contact" class="btn btn-secondary btn-cta"
          >{{footer.prefooter.button}}</a
        >
      </div>
    </section>

    <footer class="site-footer">
      <div class="container site-footer-container">
        <div class="site-footer-logo-container">
          <img
            src="{{footer.logo}}"
            class="site-footer-logo"
            alt="Entrenets logo"
          />
          <p class="site-footer-copyright">
            Entrenets, 2025. All rights reserved.
          </p>
        </div>

        <nav class="site-footer-sitemap" aria-label="Footer navigation">
          {% for section in footer.sections %}
          <div class="footer-sitemap-column">
            <h6 class="site-footer-widget-title">{{ section.heading }}</h6>
            <ul class="site-footer-widget-links">
              {% for item in section.items %}
              <li>
                <a href="{{ item.link }}" class="site-footer-widget-link"
                  >{{ item.text }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </nav>
      </div>
    </footer>

    {% endblock %}
    <!-- <script src="js/vendor.js"></script> -->
    <script src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
