{% extends "base.njk" %} {% block content %}

<section class="hero">
  <div class="">
    <h3 class="title">{{title | safe}}</h3>
  </div>
</section>

<section class="about-section">
  <div class="container intro-container">
    <div class="image-content about-intro-image">
      <img src="{{aboutUs.image}}" alt="Entrenets team collaborating" class="image" />
    </div>
    <div class="text-content about-intro-text">
      <h4 class="title">{{aboutUs.title | safe}}</h4>
      <p class="description paragraph">{{aboutUs.introduction | safe}}</p>
    </div>
    <div class="text-content innovation-text">
      <h6 class="title">{{vision.innovate.title}}</h6>
      <p class="description paragraph">{{vision.innovate.text}}</p>
    </div>
    <div class="image-content innovation-image">
      <img src="{{vision.innovate.image}}" alt="Colleagues working together on a startup" class="image" />
    </div>
    <div class="image-content human-potential-image">
      <img src="{{vision.humanPotential.image}}" alt="Colleagues discussing their work" class="image" />
    </div>
    <div class="text-content human-potential-text">
      <h6 class="title">{{vision.humanPotential.title}}</h6>
      <p class="description paragraph">{{vision.humanPotential.text}}</p>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="section-title center">
      <h3 class="title center">{{valuesTitle | safe }}</h3>
    </div>
    <div class="grid-container-values">
      {% for value in values %}
      <div class="grid-item value-container">
        <img src="{{value.icon}}" alt="" class="value-icon" />
        <h6 class="title">{{value.title}}</h6>
        <p class="paragraph">{{value.description | safe}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
