{% extends "base.njk" %} {% block content %}

<section class="section">
  <div class="container form-container">
    <div class="form-title">
      <h4>{{title}}</h4>
      <p>{{subTitle}}</p>
    </div>

    <form action="https://api.web3forms.com/submit" method="POST">
      <input
        type="hidden"
        name="access_key"
        value="0f7b2452-3ca9-43d1-932f-ccca45046387"
      />
      <input
        type="hidden"
        name="subject"
        value="New Submission from Entrenets website"
      />
      <input type="hidden" name="from_name" value="Entrenets" />
      <div class="form-row">
        <div class="form-item">
          <label for="name" class="contact-form-label required-field"
            >Your Name</label
          >
          <input type="text" name="name" required placeholder="Full Name" />
        </div>
        <div class="form-item">
          <label for="email" class="contact-form-label required-field"
            >Email Address</label
          >
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="name@company.com"
            pattern="^[a-zA-Z0-9._%+-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-item">
          <label for="website" class="contact-form-label required-field"
            >Website URL</label
          >
          <input
            type="url"
            name="website"
            required
            placeholder="https://company.com"
          />
        </div>
        <div class="form-item">
          <label for="phone" class="contact-form-label required-field"
            >Phone number</label
          >
          <input
            type="phone"
            name="phone"
            required
            placeholder="+14155552671"
            pattern="^\+[1-9]\d{1,14}$"
          />
        </div>
      </div>

      <label for="message" class="contact-form-label required-field"
        >Tell us about the project</label
      >
      <textarea
        class="form-control message"
        name="message"
        rows="6"
        minlength="5"
        required
        placeholder="Please provide all details about your project"
      ></textarea>

      <!-- Honeypot Spam Protection -->
      <input
        type="checkbox"
        name="botcheck"
        cass="hidden"
        style="display: none"
      />

      <!-- h-captcha -->
      <div class="h-captcha" data-captcha="true" data-theme="dark"></div>

      <!-- Custom Confirmation / Success Page -->
      <input
        type="hidden"
        name="redirect"
        value="http://localhost:8080/thanks/"
      />

      <button type="submit" class="btn btn-primary">
        <span class="btn-area">
          <span data-text="{{btnText}}"> {{btnText}} </span>
        </span>
      </button>
    </form>
    <script src="https://web3forms.com/client/script.js" async defer></script>
  </div>
</section>

{% endblock %} {% block workTogether %}{% endblock %}
