{% extends "base.njk" %} {% block content %}

<section class="section">
  <div class="container form-container">
    <h4 class="form-title center light-font">{{formTitle}}</h4>
    <div class="two-column-grid">
      <div class="grid-item">
        <div class="content-wrapper">
          <img
            src="/assets/images/contact/email (2).png"
            alt="Contact illustration"
            class="contact-image"
          />
          <section class="next-steps">
            <ul class="next-steps-list">
              {%for step in steps%}
              <li class="next-steps-item">
                <p class="step-title">{{step.title}}</p>
                <p>{{step.text}}</p>
              </li>
              {%endfor%}
            </ul>
          </section>
        </div>
      </div>

      <div class="grid-item">
        <div class="content-wrapper">
          <div class="welcome-message">
            <p>
              👋 We're excited to hear about your project! Fill out the form
              below and we'll get back to you shortly.
            </p>
          </div>
          <form method="POST" action="https://fabform.io/f/6dD7uQu" enctype=multipart/form-data>
            <div class="form-row">
              <div class="form-item">
                <label
                  for="first-name"
                  class="contact-form-label required-field"
                  >First Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="first-name"
                  id="first-name"
                  required
                />
              </div>
              <div class="form-item">
                <label for="last-name" class="contact-form-label required-field"
                  >Last Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="last-name"
                  id="last-name"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-item">
                <label
                  for="email"
                  class="contact-form-label required-field"
                  pattern="^[a-zA-Z0-9._%+-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$"
                  >Work Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
              </div>
              <div class="form-item">
                <label
                  for="company-website"
                  class="contact-form-label required-field"
                  >Company Website</label
                >
                <input
                  type="company-website"
                  class="form-control"
                  name="company-website"
                  id="company-website"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-item">
                <label for="phone" class="contact-form-label required-field"
                  >Phone number</label
                >
                <input
                  type="phone"
                  class="form-control"
                  name="phone"
                  id="phone"
                  required
                />
              </div>
              <div class="form-item">
                <label for="country" class="contact-form-label required-field"
                  >Country</label
                >
                <input
                  type="country"
                  class="form-control"
                  name="country"
                  id="country"
                  required
                />
              </div>
            </div>

            <div class="form-item">
              <label
                for="aboutProject"
                class="contact-form-label required-field"
                >Tell us about the project</label
              >
              <textarea
                class="form-control"
                id="aboutProject"
                rows="6"
                placeholder="About the Project"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary" formtarget="_blank">
              <span class="btn-area">
                <span data-text="{{btnText}}"> {{btnText}} </span>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block workTogether %}{% endblock %}
