{% extends "base.njk" %} {% block content %}

<section class="section">
  <div class="container">
    <div class="section-title center mt-lg thanks-message">
      <img
        src="/assets/images/contact/email (2).png"
        alt="Contact illustration"
        width="200px"
      />
      <h4>Thank you for contacting us</h4>
      <p class="thanks-message">
        We've received your request and appreciate you reaching out. <br />Our
        team is reviewing your details, and we’ll get back to you within 2
        business days.
      </p>
      <p><strong>The Entrenets Team</strong></p>
    </div>
  </div>
</section>

{% endblock %} {% block workTogether %}{% endblock %}
