{% extends "base.njk" %} {% block content %}

<section class="section confirmation-section">
  <div class="container">
    <div class="confirmation-content thanks-message">
      <h4 class="title">{{title}}</h4>
      <p class="thanks-message">
        {{message | safe}}
      </p>
      <p><strong>{{signature}}</strong></p>
    </div>
  </div>
</section>

{% endblock %} {% block workTogether %}{% endblock %}
