{% extends "base.njk" %} {% block content %}

<section class="site-hero">
  <div class="container">
    <div class="site-hero-content">
      <h1>{{hero.title | safe}}</h1>
      <h6>{{hero.subTitle}}</h6>
    </div>
    <div class="site-hero-btn">
      <a href="/{{hero.cloudMigrationBtn.link}}" class="btn btn-secondary">
        <span class="btn-area">
          <span data-text="{{hero.cloudMigrationBtn.text}}"
            >{{hero.cloudMigrationBtn.text}}</span
          >
        </span>
      </a>
      <a href="/{{hero.automationBtn.link}}" class="btn btn-secondary">
        <span class="btn-area">
          <span data-text="{{hero.automationBtn.text}}"
            >{{hero.automationBtn.text}}</span
          >
        </span>
      </a>
    </div>
  </div>

  <a href="#counter" class="site-hero-scroll scroll-to">
    {# <img src="/assets/images/arrow-down.svg" alt="arrow-down" /> #}
  </a>
</section>

{#
<section class="site-counter" id="counter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="text-white">{{achieve.title}}</h2>
        </div>
      </div>
      {% for achievement in achieve.achievements %}
      <div class="col-lg-3 col-md-6">
        <div class="site-counter-item">
          <span class="site-counter-item-title">{{achievement.title}}</span>
          <h3 class="site-counter-item-number">{{achievement.counter}}+</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
#}

<section class="section light-bg" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <div class="section-title mb-lg">
          <h2 class="uppercase mb-lg">{{challenge.title | safe}}</h2>
          <p>{{challenge.subTitle | safe}}</p>
        </div>
      </div>
      <div class="col-md-6 challenge-col">
        {% for challenge in challenges.challenges_A %}
        <div class="challenge-card">
          <img src="{{challenge.icon}}" />
          <div class="challenge-content">
            <h6>{{challenge.title}}</h6>
            <p>{{challenge.des}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-6 challenge-col">
        {% for challenge in challenges.challenges_B %}
        <div class="challenge-card">
          <img src="{{challenge.icon}}" />
          <div class="challenge-content">
            <h6>{{challenge.title}}</h6>
            <p>{{challenge.des}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>{{mission.title | safe}}</h3>
          <h3>{{mission.main}}</h3>
          <!-- Google Calendar Appointment Scheduling begin -->
          <script
            src="https://calendar.google.com/calendar/scheduling-button-script.js"
            async
          ></script>
          <script defer>
            ;(function () {
              var target = document.currentScript
              window.addEventListener("load", function () {
                calendar.schedulingButton.load({
                  url: "https://calendar.google.com/calendar/appointments/schedules/AcZssZ0vjsn2s4bFmi008CdMUzP-OVemccm239MljgA84LubSCTzS5SNDQMzZNt45JM3Gwzv5yyXOYCU?gv=true",
                  color: "#EB3678",
                  label: "Book a call",
                  target,
                })
              })
            })()
          </script>
          <!-- end Google Calendar Appointment Scheduling -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section solutions" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ourSolutions.title}}</h2>
          <h6>{{ourSolutions.subTitle | safe}}</h6>
        </div>
        <div class="col-12 solution-col">
          {% for solution in solutions.solutions %}
          <div class="col-6">
            <div class="solution-item">
              <div class="solutions-content">
                <img src="{{solution.icon}}" />
                <h5>{{solution.title}}</h5>
                <p>{{solution.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %} {% for solution in solutions.solutions %}
          <div class="col-6">
            <div class="solution-card">
              <div class="solutions-content">
                <img src="{{solution.icon}}" />
                <h5>{{solution.title}}</h5>
                <p>{{solution.description}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
