.site-hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: var(--primary-color);
  text-align: center;
}

.site-hero-content {
  margin-bottom: 50px;
  margin-top: 70px;
}

.hero-title {
  background-image: linear-gradient(to right, #6439FF, #4F75FF, #00CCDD, #7CF5FF);
  color: transparent;
  background-clip: text;
}

.hero-subtitle {
  color: var(--text-light-color);
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.challenges {
  display: flex;
  align-items: center;
}

.challenge-item {
  display: flex;
  align-items: center;
}

.challenge-icon {
  width: 30px;
  padding-top: 16px;
  align-self: flex-start;
}

.challenge-description {
  color: #c1c1c1;
}

.challenge-title {
  color: #fff;
}

.challenge-content {
  padding: 16px;
}

.solutions-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.solution-item {
  color: var(--text-light-color);
  text-align: start;
  flex: 1 1 calc(33.333% - 40px);
  max-width: 350px;
}

.solutions-title {
  color: var(--text-light-color);
}

.solution-image {
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
}

.solution-title,
.solution-subtitle {
  padding-bottom: 20px;
}

.solution-description {
  padding-bottom: 30px;
}

.solution-title {
  color: var(--text-blue-color);
}

.learn-more-icon {
  width: 45px;
}

@media (max-width: 978px) {
  .site-hero {
    height: auto;
    padding: 200px 0;
  }
  .solution-item {
    align-items: center;
  }
}

@media (max-width: 789px) {

  .challenges {
    flex-direction: column;
  }

  .challenges-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .site-hero {
    padding: 150px 0;
  }

  .hero-buttons {
    display: grid;
  }

  .challenges-title {
    text-align: center;
  }
}