.siteHeroContent {
  margin-bottom: 50px;
  margin-top: 70px;
}

.siteHero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: var(--primary-color);
  text-align: center;
}

.heroTitle {
  letter-spacing: -3px;
  background-image: linear-gradient(to right, #6439FF, #4F75FF, #00CCDD, #7CF5FF);
  color: transparent;
  background-clip: text;
  letter-spacing: -5px;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.heroSubTitle {
  color: var(--text-light-color);
  font-weight: 400;
}

.heroButtons {
  display: flex;
  justify-content: center;
}

.site-hero-scroll {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

.challengesGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.challengesGridItem {
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin: 6px;
  background-color: #FFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 0.2px solid rgb(229, 231, 235);
  grid-column: 1 / -1;
}

.challengesGridItem:first-child {
  justify-self: center;
}

.challengesGridItem:nth-child(2) {
  justify-self: right;
}

.challengesGridItem:last-child {
  justify-self: center;
}

.challengesGridItemIcon {
  width: 100px;
  padding: 16px 16px 16px 32px;
}

.challengesGridItemDescription {
  font-size: 15px;
  color: #454545;
}

.challengesGridItemTitle {
  font-size: 16px;
  color: var(--primary-color);
}

.challengeContent {
  padding: 16px;
}

.solutionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.solutionItem {
  color: var(--text-light-color);
  text-align: start;
  flex: 1 1 calc(33.333% - 40px);
  max-width: 350px;
}

.solutionsTitle {
  color: var(--text-light-color);
}

.solutionsContentImage {
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
}

.solutionsContentTitle,
.solutionsContentSubtitle {
  padding-bottom: 20px;
}

.solutionsContentDescription {
  padding-bottom: 30px;
}

.solutionsContentTitle {
  color: var(--text-blue-color);
}

.learnMoreIcon {
  width: 45px;
}

@media (max-width: 978px) {
  .site-hero {
    height: auto;
    padding: 200px 0;
  }

  .heroTitle {
    font-size: 68px;
  }

  .challengesGridContainer {
    grid-template-rows: repeat(2, 1fr);
  }

  .missionTitle,
  .missionMain {
    font-size: 32px;
    letter-spacing: -1px;
  }

  .solutionsContent {
    align-items: center;
  }
}

@media (max-width: 789px) {
  .heroTitle {
    font-size: 50px;
    letter-spacing: -4px;
  }

  .heroSubTitle {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .site-hero {
    padding: 150px 0;
  }

  .heroTitle {
    font-size: 35px;
    letter-spacing: -3px;
  }

  .heroSubTitle {
    font-size: 16px;
  }

  .heroButtons {
    display: grid;
  }

  .challengesGridContainer {
    display: flex;
    justify-content: center;
  }

  .challengesGridItem {
    margin: 3px;
    width: 450px;
  }

  .challengesGridItem:first-child,
  .challengesGridItem:nth-child(2),
  .challengesGridItem:last-child {
    justify-self: normal;
  }

  .challengesGridItemTitle {
    margin-bottom: 0;
  }

  .challengesGridItemDescription {
    display: none;
  }

  .challengesGridItemIcon {
    width: 80px;
  }
}