.heroServiceName,
.heroSubTitle {
  color: #e2e2e2;
}

.grid {
  display: grid;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  max-width: inherit;
  gap: 20px;
}

.services-grid {
  grid-template-columns: repeat(6, 1fr);
}

.services-grid>div:nth-child(1) {
  grid-column: 1 / 3;
}

.services-grid>div:nth-child(2) {
  grid-column: 3 / 5;
}

.services-grid>div:nth-child(3) {
  grid-column: 5 / 7;
}

.services-grid>div:nth-child(4) {
  grid-column: 2 / 4;
}

.services-grid>div:nth-child(5) {
  grid-column: 4 / 6;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-grid>div {
    grid-column: auto !important;
  }
}

.benefit {
  max-width: 900px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  align-items: center;
  margin: 0 auto;
}

.benefit .image {
  grid-area: image;
  justify-self: center;
}

.benefit .text {
  grid-area: text;
  text-align: left;
}

.benefit.reverse {
  grid-template-areas: "image text";
}

@media (max-width: 768px) {

  .benefit,
  .benefit.reverse {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
  }
}

.card {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(127, 125, 125, 0.123);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.icon {
  margin-bottom: 18px;
}

.icon-md {
  width: 70px;
}

.icon-lg {
  width: 100px;
  height: 100px;
}

.icon-xlg {
  width: 120px;
}

.illustration {
  width: 80%;
}

.round {
  border-radius: 50%;
}

.challenge {
  margin: 6px;
  max-width: 350px;
}

.benefit-card {
  background-color: rgba(4, 122, 83, 0.81);
}

@media (max-width: 575px) {
  .heroTitle {
    font-size: 50px;
  }

  .heroSubTitle {
    font-size: 16px;
  }

  .heroServiceName {
    font-size: 16px;
  }
}